<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <h1>Easy calculator</h1>
    <form action="/" method='POST'>
        <input type='text' placeholder='Number 1' name='n1'>
        <br>
        <input type='text' placeholder='Number 2' name='n2'>
        <br>
        <br>Pick an operation:
        <br><br>
        <input type='radio' name='operation' value='plus' checked>
        PLUS +
        <input type='radio' name='operation' value='minus'>
        MINUS -
        <input type='radio' name='operation' value='times'>
        TIMES *
        <input type='radio' name='operation' value='division'>
        DIVISION /
        <br><br>
        <button type='submit'>Calculate</button>
    </form>
</body>
</html>