<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <div>
        <h1>Easy calculator</h1>
        <form action="/" method='POST'>
            <input type='text' placeholder='Number 1' name='n1'>
            <br>
            <input type='text' placeholder='Number 2' name='n2'>
            <br>
            <br>Pick an operation:
            <br><br>
            <input type='radio' name='operation' value='+' checked>
            PLUS +
            <input type='radio' name='operation' value='-'>
            MINUS -
            <input type='radio' name='operation' value='*'>
            TIMES *
            <input type='radio' name='operation' value='/'>
            DIVISION /
            <br><br>
            <button type='submit'>Calculate</button>
        </form>
    </div>
    <div>
        {% if display %}
        <form action = "/" method="GET">
            <h1>{{ display[0] }} {{ display[2] }} {{ display[1] }} = {{ display[3] }}</h1>
            <button type="submit">Clear</button>
        </form>
        {% endif %}
    </div>
</body>
</html>