<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>The Guessing Game</h1>
    <p>Try to guess a number between 0 - 100.</p>
    <form action="/" method='POST'>
        <input type='text' placeholder='Number' name='number'>
        <br>
        <button type='submit'>That's my guess</button>
    </form>
    <div class="result">
        if {{

    </div>

</body>
</html>