<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2001 Game - Welcome Page</title>
</head>
<body>
    <h1>2001 Game</h1>
    <form action="/" method="POST">
        <input type="hidden" name="round" value="{{round}}">
        <input type="hidden" name="player_score" value="{{player}}">
        <input type="hidden" name="computer_score" value="{{computer}}">
        <input type="hidden" name="winner" value="{{winner}}">
        <button type="submit">START A NEW GAME</button>
    </form>
</body>
</html>