<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Guessing Game</title>
</head>
<body>
    <h1>The Inverse Guessing Game</h1>
    <h1>My guess is {{ guess }}</h1>
    <form action="/" method="POST">
        <input type="submit" name="user_clicked" value="Too small!">
        <input type="submit" name="user_clicked" value="Too big!">
        <input type="submit" name="user_clicked" value="You win!">
        <input type="hidden" name="min" value={{min}}>
        <input type="hidden" name="max" value={{max}}>
        <input type="hidden" name="guess" value={{guess}}>
    </form>
</body>
</html>